<main>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="mb-3">
                    <div class="row">
                        <div class="head-title-global d-flex justify-content-between mb-4">
                            <div class="head-title-global__left d-flex col-12 col-md-12 col-lg-4">
                                <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                                    <span class="title-head-name d-block text-decoration-none text-dark fs-4"
                                        title="Danh sách truyện">
                                        Danh sách truyện
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="story-list d-flex flex-column">
                                {{#each stories}}
                                <div class="d-flex mb-2">
                                    <img src="{{this.image}}" alt="{{this.name}}" style="max-width: 100px; max-height: 100px;">
                                    <div class="card-body" style="margin-left: 10px;">
                                        <h5 class="card-title">
                                            <a href="/story-show?storyId={{this.story_id}}"
                                                class="text-decoration-none text-dark">
                                                {{this.name}}
                                            </a>
                                        </h5>
                                        <div class="card-text"><strong>Tác giả:</strong> {{this.author}}</div>
                                        <div class="card-text"><strong>Thể loại:</strong> {{this.type}}</div>
                                        <div class="card-text"><strong>Trạng thái:</strong> {{this.status}}</div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4 sticky-md-top">
                <div class="row top-ratings">
                    <div class="col-12 top-ratings__tab mb-2">
                        <div class="list-group d-flex flex-row" id="list-tab" role="tablist">
                            <a href="" class="list-group-item list-group-item-action active" id="top-day-list"
                                data-bs-toggle="list" role="tab" aria-controls="top-day" aria-selected="true">Ngày</a>

                            <a href="" class="list-group-item list-group-item-action" id="top-month-list"
                                data-bs-toggle="list" role="tab" aria-controls="top-day" aria-selected="false"
                                tabindex="-1">Tháng</a>

                            <a href="" class="list-group-item list-group-item-action" id="top-all-time-list"
                                data-bs-toggle="list" role="tab" aria-controls="top-day" aria-selected="false"
                                tabindex="-1">All time</a>
                        </div>
                    </div>

                    <div class="col-12 top-ratings__content">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="top-day" role="tabpanel"
                                aria-labelledby="top-day-list">
                                <ul>
                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-danger rounded-circle">
                                                <span class="text-light">1</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Linh Vũ Thiên Hạ
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Xuyên
                                                        không</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-success rounded-circle">
                                                <span class="text-light">2</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Thần Đạo Đan Tôn
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-info rounded-circle">
                                                <span class="text-light">3</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Mê Vợ Không Lối về
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngược,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Sủng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">4</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đấu phá thương khung
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">5</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Thế Giới Hoàn Mỹ
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Kiếm
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">6</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Cô Vợ Ngọt Ngào Có Chút Bất Lương
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Trọng
                                                        Sinh,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Sủng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">7</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Phàm Nhân Tu Tiên
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Kiếm
                                                        Hiệp</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">8</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Nhất Niệm Vĩnh Hằng
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">9</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đế Bá
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">10</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Rể Qúy Trời Cho
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Đô
                                                        Thị</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-pane fade" id="top-month" role="tabpanel" aria-labelledby="top-month-list">
                                <ul>
                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-danger rounded-circle">
                                                <span class="text-light">1</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Linh Vũ Thiên Hạ
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Xuyên
                                                        không</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-success rounded-circle">
                                                <span class="text-light">2</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Thần Đạo Đan Tôn
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-info rounded-circle">
                                                <span class="text-light">3</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Mê Vợ Không Lối về
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngược,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Sủng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">4</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đấu phá thương khung
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">5</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Thế Giới Hoàn Mỹ
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Kiếm
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">6</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Cô Vợ Ngọt Ngào Có Chút Bất Lương
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Trọng
                                                        Sinh,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Sủng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">7</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Phàm Nhân Tu Tiên
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Kiếm
                                                        Hiệp</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">8</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Nhất Niệm Vĩnh Hằng
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">9</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đế Bá
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">10</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Rể Qúy Trời Cho
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Đô
                                                        Thị</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-pane fade" id="top-all-time" role="tabpanel"
                                aria-labelledby="top-all-time-list">
                                <ul>
                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-danger rounded-circle">
                                                <span class="text-light">1</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Linh Vũ Thiên Hạ
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Xuyên
                                                        không</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-success rounded-circle">
                                                <span class="text-light">2</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Thần Đạo Đan Tôn
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-info rounded-circle">
                                                <span class="text-dark">3</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đấu phá thương khung
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">4</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Cô Vợ Ngọt Ngào Có Chút Bất Lương
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Trọng
                                                        Sinh,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Sủng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">5</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Phàm Nhân Tu Tiên
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Kiếm
                                                        Hiệp</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">6</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Nhất Niệm Vĩnh Hằng
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">7</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đế Bá
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">8</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Vũ Động Càn Khôn
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">9</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Độc Tôn Tam Giới
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-list-category bg-light p-2 rounded card-custom">
                    <div class="head-title-global mb-2">
                        <div class="col-12 col-md-12 head-title-global__left">
                            <h2 class="mb-0 border-bottom border-secondary pb-1">
                                <span href="#" class="d-block text-decoration-none text-dark fs-4"
                                    title="Truyện đang đọc">Thể loại truyện</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Horizontal under breakpoint -->
                        <ul class="list-category">
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Ngôn Tình</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Trọng Sinh</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Cổ Đại</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Tiên Hiệp</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Ngược</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Khác</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Dị Giới</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Huyền Huyễn</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Xuyên Không</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Sủng</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Cung Đấu</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Gia Đấu</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Điền Văn</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Đô Thị</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Truyện Teen</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Hài Hước</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Kiếm Hiệp</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Đông Phương</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Trinh Thám</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Quan Trường</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Linh Dị</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Đam Mỹ</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Quân Sự</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Khoa Huyễn</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Mạt Thế</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Xuyên Nhanh</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Hệ Thống</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Nữ Cường</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>